.footer {
   display: flex;
   justify-content: flex-end;
   background-color: var(--tertiary-color);
   color: white;
   font-weight: 500;
   padding: 25px 15vw 5px 0px;

   img {
      width: 200px;
   }
}