
.navbar {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100vw;
   background-color: var(--tertiary-color);
   justify-content: center;
   align-items: center;
   padding: 0.8em;
   column-gap: 3em;

   span:hover, span.selected {
      border-bottom: 4px solid var(--primary-color);
      transition: all 0.5ms;
   }
   a {
      text-decoration: none;
      color: #FFFFFF;
   }

}